BasedOnStyle: Google
AccessModifierOffset: -2
AllowShortIfStatementsOnASingleLine: Never
BreakBeforeBraces: Attach
ColumnLimit: 100
DerivePointerAlignment: false
IndentWidth: 4
PointerAlignment: Left
