assets/models/

assets/shaders/computeshader
assets/shaders/draw_model
assets/shaders/meshshader-model
assets/shaders/meshshader-triangle
assets/shaders/pathtrace-rayquery
assets/shaders/raytrace-pipeline
assets/shaders/raytrace-triangle
assets/shaders/simpletexture
assets/shaders/tessellation

assets/textures/

lib/stage1/common/*.txt
lib/stage1/core/*.txt
lib/stage1/render/*.txt
lib/stage2/

.cache/
_tmp/
build/
